.skeleton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.learnings {
  color: var(--color-text-secondary);

  h2 {
    font-size: 20px;
    color: var(--color-text-primary);
    margin-top: 34px;
    position: relative;
    margin-left: -30px;
    padding-left: 30px;

    &:hover a {
      display: block;
    }

    a {
      display: none;
      position: absolute;
      font-size: 30px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      line-height: 1;
      color: #d7d7d7;

      &:hover {
        color: #06bad1;
      }
    }
  }

  p {
    margin: 12px 0 8px;
  }

  ul {
    padding-left: 34px;
  }

  li {
    list-style-type: disc;
    margin: 6px 0;
  }
}
