@use '../../styles/animations.scss';

.navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.navItem {
  margin: 0 8px;

  &[data-active='true'] {
    background-color: #51565b;
    animation:
      radiusBlobbing1 3.3s ease-in infinite,
      radiusBlobbing2 5s ease-in infinite,
      shadowsChaosing 4s ease infinite;
  }
}
