@use '../../components//button/button.module.scss';

.feature {
  --spacing: var(--size-lg);

  padding: var(--spacing);
  margin-bottom: 4px;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
  transition: box-shadow 0.2s var(--ease-out-3);

  &:hover,
  &[data-expanded='true'] {
    background-color: #51565b;

    .expandButton {
      @extend %ghost-btn-hover;
    }

    .title {
      color: #f3f3f3;
    }

    .switch {
      background-color: #51565b;

      &[data-state='checked'] {
        background-color: #21d6ed;
      }
    }

    .expandButton {
      background-color: #6a7077;
      color: #fff;
    }

    .icon {
      height: 2rem;
      width: 2rem;
    }
  }
}

.header {
  display: flex;
  align-items: center;
}

.switchWrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.title {
  font-size: var(--text-lg);
  flex-grow: 1;
  color: var(--color-text-primary);
}

.expandButton {
  position: absolute;
  right: 6px;
}

.icon {
  height: 1.6rem;
  width: 1.6rem;
}

.description {
  margin-top: 1.6rem;
  display: none;

  [data-expanded='true'] & {
    display: block;
  }
}

.descriptionText {
  font-size: var(--text-md);
  color: #f3f3f3;
}
