.feature {
  --spacing: var(--size-lg);

  padding: var(--spacing);
  margin-bottom: var(--size-md);
  position: relative;
  border: 1px solid transparent;
  border-radius: var(--radius-drawn-6);
  cursor: pointer;

  &:hover, &.isExpanded {
    border: 1px solid var(--color-surface-1);
    background-color: var(--color-surface-light);

    .btn {
      background-color: var(--ghost-btn-hover-bg);
      box-shadow: var(--shadow-2);
    }
  }
}

.feature__header {
  display: flex;
  align-items: center;
}

.feature__switch-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.feature__title {
  font-size: var(--text-lg);
  flex-grow: 1;
  color: var(--color-text-primary);
}

.feature__expand-button {
  position: absolute;
  right: 6px;
}

.feature__icon {
  height: 1.6rem;
  width: 1.6rem;
}

.feature__description {
  margin-top: 1.6rem;
  display: none;
}

.feature__description--expanded {
  display: block;
}

.feature__description-text {
  font-size: var(--text-md);
  color: var(--color-text-secondary);
}
