@use '../../components//button/button.module.scss';

.feature {
  --spacing: var(--size-lg);

  padding: var(--spacing);
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;

  &:hover,
  &[data-expanded='true'] {
    border: 1px solid var(--color-border);
    background-color: var(--color-surface-light);

    .expandButton {
      @extend %ghost-btn-hover;
    }
  }
}

.header {
  display: flex;
  align-items: center;
}

.switchWrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.title {
  font-size: var(--text-lg);
  flex-grow: 1;
  color: var(--color-text-primary);
}

.expandButton {
  position: absolute;
  right: 6px;
}

.icon {
  height: 1.6rem;
  width: 1.6rem;
}

.description {
  margin-top: 1.6rem;
  display: none;

  [data-expanded='true'] & {
    display: block;
  }
}

.descriptionText {
  font-size: var(--text-md);
  color: var(--color-text-secondary);
}
