.app {
  margin: 40px;
}

.large-avatar {
  width: 160px;
  height: 160px;
}

.skeleton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

.features {
  margin: 20px auto;
  max-width: 600px;
}

.learnings {
  color: var(--color-text-secondary);
}
