.frameWrap {
  position: relative;
  width: fit-content;
  margin: 100px auto;
}

.layout {
  box-shadow: var(--shadow-lg);
  background: var(--color-surface-base);
  padding: 90px 60px;
}

.aside {
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: var(--space-sm);
}

.asideBlock {
  margin-bottom: var(--space-sm);
}
