.trigger {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 12px;
  height: 35px;
  gap: 12px;
  background-color: #ffffff;
  color: var(--color-text-primary);
  box-shadow: var(--shadow-2);
  cursor: pointer;

  &:hover {
    background-color: var(--gray-2);
    box-shadow: var(--inner-shadow-1);
  }

  &[data-placeholder] {
    color: var(--gray-7);
  }
}

.chevronIcon {
  color: var(--color-text-secondary);
  width: 16px;
  height: 16px;
}

.content {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--shadow-2);
  font-family: var(--font-rounded-sans);
  cursor: pointer;
}

.viewport {
  padding: 5px;
}

.item {
  border-radius: 3px;
  display: flex;
  align-items: center;
  padding: 4px 12px 4px 30px;
  position: relative;
  user-select: none;

  &[data-disabled] {
    color: var(--gray-8);
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: var(--gray-7);
    color: var(--gray-1);
  }
}

.itemIndicator {
  position: absolute;
  left: 4px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
