.btn {
  --ghost-btn-hover-bg: #fff;
  --link-btn-hover-color: var(--color-primary);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  white-space: nowrap;
  border-radius: var(--radius-drawn-6);
  font-size: var(--text-md);
  cursor: pointer;
  transition:
    color 150ms,
    box-shadow 150ms;

  & svg {
    pointer-events: none;
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;

    &:not([class*='size-']) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus-visible {
    outline-width: 1px;
    outline-color: rgb(0 0 0 / 0.5);
    ring-width: 4px;
    ring-color: rgb(0 0 0 / 0.1);

    @media (prefers-color-scheme: dark) {
      outline-color: rgb(255 255 255 / 0.4);
      ring-color: rgb(255 255 255 / 0.2);
    }
  }

  &[aria-invalid='true']:focus-visible {
    ring-width: 0;
  }
}

.btnDefault {
  background-color: var(--color-primary);
  color: var(--color-primary-foreground);
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

  &:hover {
    background-color: rgb(var(--color-primary) / 0.9);
  }
}

.btnGhost {
  &:hover {
    background-color: var(--ghost-btn-hover-bg);
    color: var(--color-text-primary);
  }
}

.btnLink {
  color: var(--color-text-secondary);
  text-underline-offset: 4px;

  &:hover {
    color: var(--link-btn-hover-color);
    text-decoration: underline;
  }
}

.btnSizeDefault {
  padding: var(--size-md);

  &:has(> svg) {
    padding-inline: 0.75rem;
  }
}

.btnSizeLarge {
  padding: var(--size-md);
  font-size: 24px;
}

.btnSizeIcon {
  inline-size: 3.8rem;
  block-size: 3.8rem;
}
