%ghost-btn-hover {
  background-color: #fff;
  color: var(--color-text-primary);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-size: var(--text-md);
  cursor: pointer;

  & svg {
    pointer-events: none;
    flex-shrink: 0;
    width: 1.6rem;
    height: 1.6rem;

    &:not([class*='size-']) {
      width: 1.6rem;
      height: 1.6rem;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &:focus-visible {
    outline-width: 1px;
    outline-color: rgb(0 0 0 / 0.5);
    ring-width: 4px;
    ring-color: rgb(0 0 0 / 0.1);

    @media (prefers-color-scheme: dark) {
      outline-color: rgb(255 255 255 / 0.4);
      ring-color: rgb(255 255 255 / 0.2);
    }
  }

  &[aria-invalid='true']:focus-visible {
    ring-width: 0;
  }
}

.btnDefault {
  background-color: #ffffff;
  color: var(--color-text-primary);

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.btnGhost {
  &:hover {
    @extend %ghost-btn-hover;
  }
}

.btnLink {
  color: var(--color-text-secondary);
  text-underline-offset: 4px;

  &:hover {
    color: #51565b;
  }

  &[data-active='true'] {
    color: #eefdff;
    background: #51565b;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }
}

.btnSizeDefault {
  padding: var(--size-md);

  &:has(> svg) {
    padding-inline: 0.75rem;
  }
}

.btnSizeLarge {
  padding: 20px 24px;
  font-size: 24px;
}

.btnSizeIcon {
  inline-size: 3.8rem;
  block-size: 3.8rem;
}
