.mockSelector {
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  gap: 1.2em;
  align-items: center;
  padding: 2.4rem;
  background-color: var(--color-surface-light);
  border-radius: var(--radius-drawn-6);
  font-family: var(--font-rounded-sans);
}
