@use "./mixins.scss" as mixins;

// GENERATED CLASSES
.drawn-borders-1 {
  border-radius: var(--radius-drawn-1) !important;
}
.drawn-borders-2 {
  border-radius: var(--radius-drawn-2) !important;
}
.drawn-borders-3 {
  border-radius: var(--radius-drawn-3) !important;
}
.drawn-borders-4 {
  border-radius: var(--radius-drawn-4) !important;
}
.drawn-borders-5 {
  border-radius: var(--radius-drawn-5) !important;
}
.drawn-borders-6 {
  border-radius: var(--radius-drawn-6) !important;
}

// NOTE: these generic chaos-shadows classes shouldn't be coupled to the data-expanded attributes
.chaos-shadows-1 {
  &:hover,
  &[data-expanded="true"] {
    @include mixins.chaos-shadow-1;
  }
}
.chaos-shadows-2 {
  &:hover,
  &[data-expanded="true"] {
    @include mixins.chaos-shadow-2;
  }
}
.chaos-shadows-3 {
  &:hover,
  &[data-expanded="true"] {
    @include mixins.chaos-shadow-3;
  }
}
.chaos-shadows-4 {
  &:hover,
  &[data-expanded="true"] {
    @include mixins.chaos-shadow-4;
  }
}

.isHidden {
  display: none;
}
