@use './reset.scss';
@use './mixins.scss' as mixins;
@use './animations.scss';

// NOTE: this svg should be imported and converted to inline with PostCSS
html {
  font-family: var(--font-antique);
  color: var(--color-text-primary);
  background-color: rgb(229 229 229);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23b0b0b0' fill-opacity='0.29' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
}


:root {
  // CORE TOKENS (atomic)
  --core-red-40: red;
  --core-red-50: red;

  --core-space-unit: 0.2rem; // 2px
  --core-space-2: calc(var(--core-space-unit) * 2); // 4px
  --core-space-4: calc(var(--core-space-unit) * 4); // 8px
  --core-space-6: calc(var(--core-space-unit) * 6); // 12px
  --core-space-8: calc(var(--core-space-unit) * 8); // 16px
  --core-space-10: calc(var(--core-space-unit) * 10); // 20px
  --core-space-12: calc(var(--core-space-unit) * 12); // 24px
  --core-space-16: calc(var(--core-space-unit) * 16); // 32px

  --core-type-1: 1.6rem;
  --core-type-2: 1.8rem;
  --core-type-3: 2rem;
  
  --core-radius-sm: 4px;
  --core-radius-md: 6px;
  --core-radius-lg: 8px;
  --core-radius-full: 9999px;

  --core-shadow-sm: 0 1px 3px rgba(0,0,0,0.12);
  --core-shadow-md: 0 4px 6px rgba(0,0,0,0.12);
  --core-shadow-lg: 0 10px 15px rgba(0,0,0,0.12);


  // SEMANTIC TOKENS (functinoal)
  --color-brand-primary: var(--core-blue-500);
  --color-brand-primary-light: var(--core-blue-100);
  --color-brand-primary-dark: var(--core-blue-700);
  
  --color-brand-secondary: var(--core-purple-500);
  --color-brand-secondary-light: var(--core-purple-100);
  --color-brand-secondary-dark: var(--core-purple-700);

  --color-surface-base: white;
  --color-surface-muted: var(--core-gray-50);
  --color-surface-subtle: var(--core-gray-100);
  --color-surface-strong: var(--core-gray-200);

  --color-text-default: var(--core-gray-900);
  --color-text-subtle: var(--core-gray-700);
  --color-text-muted: var(--core-gray-800);
  --color-text-inverted: white;

  --space-sm: var(--core-space-2); // 4px
  --space-md: var(--core-space-4); // 8px
  --space-lg: var(--core-space-6); // 12px
  --space-xlg: var(--core-space-10); // 20px
  --space-xxlg: var(--core-space-12); // 24px
  --space-xxxlg: var(--core-space-16); // 32px

  --type-size-icon: var(--core-type-1); // 16px
  --type-size-body: var(--core-type-1); // 16px
  --type-size-body2: var(--core-type-2); // 18px
  --type-size-heading: var(--core-type-3); // 20px

  // COMPONENT TOKENS (hierarchical)

  // STATES (state-based)



  --color-primary: var(--blue-2);
  --color-primary-foreground: var(--blue-9);

  --color-accent: var(--cyan-4);
  --color-accent-foreground: var(--blue-9);

  --color-surface-1: var(--gray-1);
  /* TODO: how to lighten var */
  --color-surface-light: #f1f3f56b;
  --color-text-primary: var(--gray-7);
  --color-text-secondary: var(--gray-6);
  --color-border: #e2e5e7;

  --color-destructive: var(--red-4);
  --color-destructive-foreground: var(--red-9);

  --size-sm: 0.4rem;
  --size-md: 0.8rem;
  --size-lg: 1.2rem;
  --size-xlg: 2.4rem;

  --text-sm: 1.1rem;
  --text-md: 1.6rem;
  --text-lg: 1.8rem;

  --radius-default: 2px;

  .drawnBorders1 {
    border-radius: var(--radius-drawn-1);
  }
  .drawnBorders2 {
    border-radius: var(--radius-drawn-2);
  }
  .drawnBorders3 {
    border-radius: var(--radius-drawn-3);
  }
  .drawnBorders4 {
    border-radius: var(--radius-drawn-4);
  }
  .drawnBorders5 {
    border-radius: var(--radius-drawn-5);
  }
  .drawnBorders6 {
    border-radius: var(--radius-drawn-6);
  }

  // NOTE: these generic chaos-shadows classes shouldn't be coupled to the data-expanded attributes
  .chaos-shadows-1 {
    &:hover,
    &[data-expanded='true'] {
      @include mixins.chaos-shadow-1;
    }
  }
  .chaos-shadows-2 {
    &:hover,
    &[data-expanded='true'] {
      @include mixins.chaos-shadow-2;
    }
  }
  .chaos-shadows-3 {
    &:hover,
    &[data-expanded='true'] {
      @include mixins.chaos-shadow-3;
    }
  }
  .chaos-shadows-4 {
    &:hover,
    &[data-expanded='true'] {
      @include mixins.chaos-shadow-4;
    }
  }
}
