@import './reset.css';
@import '../primitives/skeleton/skeleton.css';
@import '../components/avatar/avatar.css';
@import '../components/switch/switch.css';
@import '../components/button/button.css';
@import '../patterns/featureCard/featureCard.css';
@import '../patterns/navigation/navigation.css';

html {
  font-family: var(--font-antique);
}

:root {
  --color-primary: var(--blue-2);
  --color-primary-foreground: var(--blue-9);

  --color-accent: var(--cyan-4);
  --color-accent-foreground: var(--blue-9);

  --color-surface-1: var(--gray-1);
  --color-surface-2: var(--gray-0);
  --color-text-primary: var(--gray-7);
  --color-text-secondary: var(--gray-6);
  --color-border: var(--gray-3);

  --color-destructive: var(--red-4);
  --color-destructive-foreground: var(--red-9);

  --size-sm: 0.4rem;
  --size-md: 0.8rem;
  --size-lg: 1.2rem;
  --size-xlg: 2.4rem;

  --text-sm: 1.1rem;
  --text-md: 1.6rem;
  --text-lg: 1.8rem;

  --radius-default: 2px;
}


/* RADIX DOCS */
/* color palette - https://www.radix-ui.com/colors/docs/palette-composition/scales */

/* @theme {
  --background-color-test: red;

  --color-primary: #3db9cf;
  --color-secondary: #82827c;
  --color-error: #ec8e7b;

  --spacing: 0.4rem;

  --text-xxsm: 0.9rem;
  --text-xsm: 1rem;
  --text-sm: 1.1rem;
  --text-md: 1.2rem;
  --text-lg: 1.3rem;
  --text-xlg: 1.6rem;
} */
