@import './reset.css';

html {
  font-family: var(--font-antique);
}

:root {
  --color-primary: var(--blue-2);
  --color-primary-foreground: var(--blue-9);

  --color-accent: var(--cyan-4);
  --color-accent-foreground: var(--blue-9);

  --color-surface-1: var(--gray-1);
  /* TODO: how to lighten var */
  --color-surface-light: #f1f3f56b;
  --color-text-primary: var(--gray-7);
  --color-text-secondary: var(--gray-6);
  --color-border: #e2e5e7;

  --color-destructive: var(--red-4);
  --color-destructive-foreground: var(--red-9);

  --size-sm: 0.4rem;
  --size-md: 0.8rem;
  --size-lg: 1.2rem;
  --size-xlg: 2.4rem;

  --text-sm: 1.1rem;
  --text-md: 1.6rem;
  --text-lg: 1.8rem;

  --radius-default: 2px;
}

.test-1: var(--radius-drawn-1);
.test-2: var(--radius-drawn-2);
.test-3: var(--radius-drawn-3);
.test-4: var(--radius-drawn-4);
.test-5: var(--radius-drawn-5);
.test-6: var(--radius-drawn-6);
