.drawnBorders1 {
  border-radius: var(--radius-drawn-1);
}
.drawnBorders2 {
  border-radius: var(--radius-drawn-2);
}
.drawnBorders3 {
  border-radius: var(--radius-drawn-3);
}
.drawnBorders4 {
  border-radius: var(--radius-drawn-4);
}
.drawnBorders5 {
  border-radius: var(--radius-drawn-5);
}
.drawnBorders6 {
  border-radius: var(--radius-drawn-6);
}
