.mockSelector {
  display: flex;
  gap: var(--space-lg);
  align-items: center;
  padding: var(--space-xxlg);
  background-color: #fff;
  font-family: var(--font-rounded-sans);
  box-shadow: var(--shadow-3);
}

.label {
  white-space: nowrap;
  color: var(--color-text-secondary);
}
