.mockSelector {
  display: flex;
  gap: 1.2em;
  align-items: center;
  padding: 2.4rem;
  background-color: #fff;
  font-family: var(--font-rounded-sans);
  box-shadow: var(--shadow-3);
}

.label {
  white-space: nowrap;
  color: var(--color-text-secondary);
}
