.feature {
  padding: 1.2rem;

  &:hover {
  }
}

.feature__header {
  display: flex;
  align-items: center;
}

.feature__switch-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.feature__title {
  font-size: 1.2rem;
  font-weight: 600;
  flex-grow: 1;
}

.feature__expand-button {
  padding: 0;
  height: auto;
}

.feature__icon {
  height: 1rem;
  width: 1rem;
}

.feature__description {
  margin-top: 1rem;
  display: none;
}

.feature__description--expanded {
  display: block;
}

.feature__description-text {
  font-size: 1.2rem;
  color: #4b5563;
}
